/* Define Fonts */
@font-face {
  font-family: "estedad-exb";
  src: url("/public/fonts/Estedad-ExtraBold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-b";
  src: url("/public/fonts/Estedad-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-m";
  src: url("/public/fonts/Estedad-Medium.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-r";
  src: url("/public/fonts/Estedad-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
/* start Basic root style */

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "estedad-r";
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
/* Start General Style */

