/* Define Fonts */
@font-face {
  font-family: "estedad-exb";
  src: url("/assets/fonts/Estedad-ExtraBold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-b";
  src: url("/assets/fonts/Estedad-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-m";
  src: url("/assets/fonts/Estedad-Medium.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "estedad-r";
  src: url("/assets/fonts/Estedad-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
/* start Basic root style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "estedad-r";
}

ul,
li {
  list-style: none;
  /* display: inline-block; */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
/* Start General Style */
.h-60 {
  height: 60%;
}

/* .bg-main-page {
  background: url("/assets/img/backgound.svg");
  background-position: center top;
  background-size: cover;
  color: #fff;
  height: 500px;
} */

/* ! .header::before TO Fix bug of the project ! */
/* .header::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 65px;
  z-index: 5;
} */

.team-cv {
  font-size: 15px;
  cursor: pointer;
}

.pt-6 {
  padding-top: 6rem;
}

.header-container {
  height: 100px;
}

.item-menu {
  padding: 0 25px;
  cursor: pointer;
}

/* img[alt="logo-codepich"] {
  width: 100px;
  margin-right: -200px;
} */

.about-us-para {
  font-size: 14px;
  border-right: 2px solid #fff;
  padding-right: 15px;
  line-height: 24.4px;
  margin: 0 20px 0 100px;
}


/* Media query */
@media all and (max-width: 580px) {
  .header-title {
    font-size: 22px;
  }



  .text-top h1 {
    font-family: "estedad-b";
    font-size: 20px;
  }

  .text-top p {
    font-size: 10.5px;
  }
}

@media all and (max-width: 391px) {
  img[alt="web-design-img"] {
    margin-top: 31% !important;
  }

  .content-section {
    margin-top: 66px !important;
    margin-bottom: -66px !important;
  }

  .header-title {
    font-size: 18px;
  }


  .content-section {
    margin-top: 20px;
  }

  .text-top h1 {
    font-family: "estedad-b";
    font-size: 19px;
  }

  .text-top p {
    font-size: 10px;
  }
}


/* ?Contact-us */
.bg-contact-us {
  background: url("/assets/img/background-contact-us.svg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
  width: 105vw;
  /* padding: 0;
  margin: 0 -6px; */
}

/* ?Contact-us page */
.contact-us-page {
  background: url("/assets/img/background-about-us.svg");
  background-position: center;
  background-size: cover;
  width: 101vw;
  overflow-x: hidden;
  margin-right: -6px;
  color: #fff;
}

.form-contact-us-page {
  padding: 40px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(210, 210, 210, 0.3);
}
/* .input-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-div input {
  width: 65%;
  height: 45px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 13px;
  color: #fff;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 200;
} */
.input-div {
  margin-bottom: 10px;
}

.input-div input {
  width: 65%;
  height: 45px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 13px;
  color: #fff;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 200;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

.form-page input#name,
.form-page input#phone {
  width: 100% !important;
  margin: 15px 0 !important;
}

.input-div-special {
  width: 50%;
}

.form-page input {
  width: 100%;
  margin: 5px 0;
  direction: rtl;
}

#description {
  width: 100%;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  margin: 0 4px;
  height: 150px;
  padding: 20px;
  color: #fff;
  margin: 0;
}

#description::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.form-page button {
  width: 100%;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 8px 10px 10px;
  height: 45px;
  border-radius: 13px;
  transition: all 300ms ease;
}

.text-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0 -30px;
}

@media all and (max-width: 768px) {
  .item-menu {
    display: none;
  }
  .about-us-para {
    font-size: 11px;
    border-right: 2px solid #fff;
    padding-right: 15px;
    line-height: 24.4px;
    margin: 0 0 20px 0;
  }
  .bar-li {
    display: block !important;
  }

  .bar-li span {
    font-size: 35px;
    cursor: pointer;
  }

  img[alt="logo-codepich"] {
    margin-right: 30px !important;
  }

  .contact-page .row {
    padding-right: 26px !important;
    padding-left: 20px !important;
  }

  .items-div {
    display: none;
    padding: 20px 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(210, 210, 210, 0.3);
    position: absolute;
    top: 45px;
  }

  .items-div li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #efefef;
  }


  /* .row-div {
    margin-top: 140px;
    width: 120vw;
    margin-right: -14vw;
  } */

 
/* 
  .bg-contact-us .col-12 {
    padding: 14px 0 0 0;
    padding-right: 0 !important;
  } */

  .aboutus-section {
    background-position: bottom !important;
  }

  div.bottom-20px {
    bottom: 90px !important;
  }

  .img-cv {
    width: 40% !important;
  }

  img[alt="img-team"] {
    width: 100% !important;
  }

  .cv-container {
    border: none;
  }

  .cv-container::after {
    display: none;
  }
}




/* .header {
  position: fixed;
  z-index: 999;
  color: #fff;
} */

.fp-overflow {
  overflow-y: visible !important;
}

/* .bg-contact-us .col-12 {
  padding: 70px 110px 0 0;
} */

/* ?About-us-page */
.aboutus-section,
.step-section {
  /* background: url("/assets/img/bg-341.svg"); */
  background-size: cover;
  height: 100vh;
  color: #fff;
  background-position: center;
  padding-top: 40px;
}

.step-section {
  background: url("/assets/img/bg-13.svg");
  height: auto;
}

.bottom-20px {
  bottom: 20px;
}

.p-about-us {
  border-right: 0px;
}

.bg-contact-short {
  background: url("/assets/img/bg-321.svg");
  background-size: contain;
}
/* ?CodePich-CV */
.codepich-cv {
  background: url("/assets/img/img-342.svg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh !important;
}

.div-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px 0 0;
}

.img-cv {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.cv-section {
  background: url("/assets/img/img-218.svg");
  background-size: cover;
  background-position: top;
  margin-top: -1px;
}

.btn-more-cv {
  bottom: 22px;
  right: 50%;
  transform: translate(50%, -0);
}

.cv-container::after {
  content: "نمایش بیشتر";
  background: #212529;
  color: #fff;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: -25px;
  right: 50%;
  transform: translate(50%, -0);
  cursor: pointer;
}
/* teamMember */
.title-team-member {
  font-family: "estedad-exb";
  font-size: 20px;
  color: #350c5a;
  display: flex;
  justify-content: center;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(210, 210, 210, 0.3);
  color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  line-height: 30px;
}
.mahan::before,
.atefe::before,
.amir::before,
.zahra::before {
  content: "ماهان";
  background: rgba(243, 243, 243, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(210, 210, 210, 0.4);
  color: #fff;
  border-radius: 12px;
  padding: 8px 22px;
  position: absolute;
  top: -27px;
  cursor: pointer;
}

.atefe::before {
  content: "عاطفه";
}
.amir::before {
  content: "امیر";
}
.zahra::before {
  content: "زهرا";
}
/* 
.mahan::after,
.atefe::after,
.amir::after {
  content: "نمایش بیشتر";
  background: #8815ef;
  padding: 12px 26px;
  border-radius: 12px;
  position: absolute;
  left: 20px;
  bottom: -20px;
  cursor: pointer;
} */

.showMoreBtn{
 color: #efefef;
    background: #8815ef;
    padding: 16px 26px;
    border-radius: 12px;
    position: absolute;
    left: 40px;
    bottom: -20px;
    cursor: pointer;
  
}




/* ?Person-ability */
.person-ability {
  background: #873ebf !important;
  border-radius: 8px;
}

.bg-about-person {
  background: url("/assets/img/bg-about-person.svg");
  background-position: center top;
  background-size: cover 100%;
  color: #fff;
  padding: 10vh;
}

.ability-title {
  background: #873ebf;
}

.title::before,
.title-2::before,
.title-3::before,
.title-4::before {
  content: "";
  width: 70%;
  height: 2px;
  background: #873ebf;
  position: absolute;
  right: 100px;
  top: 36px;
  z-index: 0;
}

.title-2::before {
  top: 208px;
}

.title-3::before {
  top: 384px;
  right: 128px;
  width: 67%;
}

.title-4::before {
  top: 557px;
}

.ability-person {
  min-height: 150px;
  padding: 20px;
}

.name {
  font-size: 24px;
  align-items: center;
  height: 100px;
}

.glass-bg-2 {
  background: rgba(225, 225, 225, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(210, 210, 210, 0.3);
  color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  line-height: 30px;
}
.w-10{
  width: 10%;
}
