.mainDiv {
  color: #0c0c0c;
  position:fixed;
  top: 90px;
  z-index: 10000;
  /* margin: auto 10%; */
  width: 100vw;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.mainDiv.active {
    opacity: 1;
  }
.formContactUsPage {

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.404);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 20px 10px rgba(5, 5, 5, 0.336);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(210, 210, 210, 0.3);
}
.successImg {
  width: 15%;
}
.closeButton {
  margin: 10px;
  border: none;
  background: none;
}
.closeButton img {
  width: 20px;
}


@media only screen and (max-width: 768px){
  .mainDiv {
    width: 80vw;
    margin-right:6vw ;
  }


  .closeButton img {
    width: 20px;
  }
}