.aboutUsSection .container {
  padding-top: 130px !important;
}

.aboutUsSectionP {
  font-size: 15px;
  padding-right: 15px;
  line-height: 24.4px;
  margin: 0 20px 0 100px;
  
}
.aboutUsSection {
  background: url("assets/img/background-about-us.svg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  width: 103vw !important;
  margin: 0 -6px;
  overflow-x: hidden;
}

.divAboutTeam {
  margin: 100px 0 -100px 0;
}
.titleSection {
  font-family: "estedad-b";
  font-size: 20px;
  margin-right: 60px;
}

.titleSection::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  top: 50%;
  right: -25px;
  border-radius: 10px;
}

@media all and (max-width: 768px) {
  .aboutUsSection .container {
    padding-top: 130px !important;
  }

  .aboutUsSectionP {
    width: 90%;
    margin: 10px auto;
    font-size: 13px;
  }
  .divAboutTeam {
    margin: 0 0 10px 0 !important;
  }
}

@media all and (max-width: 391px) {
  .aboutUsSectionP {
    width: 90%;
    margin: 8px auto;
    font-size: 11px;
  }
}
