.homeSection {
    position: absolute;
    background: url("/public/assets/img/backgound.svg");
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    color: #D5D5D5;
    width: 100%;
  }
  
  .headerTitle {
    font-family: "estedad-exb";
    font-size: 30px;
    margin:120px 0 12px 0;
  }
  .headerDescription {
    margin: 12px 0;
    font-family: "estedad-m";
  }